p {
text-align:center;
}
h1 {
text-align:center;
}
h2 {
text-align:center;
}
h3 {
text-align:center;
}
.c {
background-color:lightgreen;
}
hr {
width:100%;
height:15px;
background-color:black;
color:black;
border: black solid;
}
body {
background: linear-gradient(
90deg, 
rgb(102, 151, 175) 0%,
rgb(109, 184, 184) 20%,
rgb(165, 235, 235) 50%,
rgb(109, 184, 184) 70%,
rgb(61, 122, 122) 100%
);
margin: 0px;
overflow-x: hidden;
margin-bottom: -11px;
margin-top: -11px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 1.1em;
}
p{
    padding-left: 3px;
}
img{
    border: 3px solid black;
    border-radius: 10px;
}
span {
background-color:lightgreen;
}

a:link {
    color: black;
    text-shadow: 1px 0px 1px black;
 }

a:visited {
    color: black;
    text-shadow: 1px 0px 1px rgb(22, 22, 22);
}

a:hover {
    text-decoration: underline;
    color: red;
    text-shadow: 1px 0px 1px black;
}

.prev_next_links:link, .prev_next_links:hover, .prev_next_links:visited{
  text-decoration: none;
}
.code10{
    overflow-wrap: break-word;
}
img{
    max-width: 95vw !important;
}
header h1{
    font-size: 2em;
}
.syntax{
    white-space: pre-wrap;
    background-color: black;
    color: white;
    padding: 10px;
    width: fit-content;
    border-radius: 7px;
    margin-left: 10px;
    padding-right: 100px;
    position: relative;
    font-size: 1em;
    word-spacing: 3px;
}
.syntax::after{
    content: attr(name);
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    display: block;
    width: fit-content;
    background-color: orangered;
    padding: 5px 10px;
    border-radius: 0.7em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.7em;
}
.blue{
    background-color: unset;
    color: rgb(38, 127, 228);
    margin: 0px;
}
.green{
    background-color: unset;
    color: rgb(30, 206, 14);
    margin: 0px;
}

.table{
    background-color: rgba(255, 255, 255, 0.2);
    text-align: left;
    border-collapse: collapse;
    margin: auto;
    background: -moz-linear-gradient(
		top,
		#ffcb69 0%,
		#f0a733 50%,
		#f2a324 92%,
		#ffb730);
 	border-radius: 6px;
	border: 1px solid #965F06;
	box-shadow:
		1px 1px 1px rgba(000,000,000,0.5),
		inset 1px 2px 0px rgba(255,255,255,0.4);
}
.table :is(td, th){
    border: 2px solid black;
    padding: 10px;
}